// Fonts

@tailwind base;

@tailwind components;

@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700;800;900&display=swap');

body{
    font-family: 'Nunito', sans-serif;
}

.height{
    height:85vh;
}

.transition{
    transition: opacity .2s .3s,width linear .2s .3s,margin linear .2s .3s;
}
@media screen and (max-width: 760px) {
    .height{
        height:60vh;
    }
}


